a {
  color: $anchor-color;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font-family;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 0;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.3em;
}

em {
  font-style: italic;
}
strong {
  font-weight: 700;
}

p {
  line-height: 1.5em;
}
