// Inspired by https://philipwalton.github.io/solved-by-flexbox/demos/grids/
// and https://css-tricks.com/dont-overthink-flexbox-grids/

$cols: 12;

.columns:not(.split) {
  display: flex;

  /**
   * Grid Enhancers
   */

  &.align-center {
    align-items: center;
    > * { vertical-align: middle; }
  }

  &.with-gutters {
    margin-left: -0.5 * $gutter;
    margin-right: -0.5 * $gutter;
    > * {
      margin-left: 0.5 * $gutter;
      margin-right: 0.5 * $gutter;
    }
  }

  /**
   * Grid Items
   */

   > * { box-sizing: border-box; }

   // Percentage-width based columns
   @for $i from 1 through $cols {
    > .span-#{$i} {
      width: percentage($i / $cols);
    }
    &.with-gutters > .span-#{$i} {
      width: calc(#{percentage($i / $cols)} - #{$gutter});
    }
   }

   // Fixed-width based columns
   @for $i from 1 through 50 {
    > .size-#{$i} {
      width: #{$i}em
    }
   }

  > .flex { flex: 1; }
  > .align-right { text-align: right; }
  > .align-top { align-self: flex-start; }
  > .align-bottom { align-self: flex-end; }

}

.columns.split {
  @include clearfix;

  > :first-child { float: left; }
  > :last-child { float: right; }
}
