.hero.slick-slider {

  .slick-slide {
    height: 500px;
    background-size: cover;
    background-position: center center;

    > div {
      position: relative; // For the .slide-content
      height: 100%;
    }
  }

  .slide-content {
    font-size: 1.5em;
    color: #eee;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
    margin-top: 200px;
    
    position: absolute;
    max-width: 20em;
    left: $gutter;
    bottom: 120px; // Offset dot navs
    right: $gutter;

    @media (min-width: $desktop-breakpoint) {
      font-size: 2em;
    }
  }

  .slick-slide.slide-1 {
    background-image: url('/images/carousel/1.jpg');
    background-position: 100% 10%;

    @media (min-width: $desktop-breakpoint) {
      .slide-content { bottom: 4em; }
    }
  }

  .slick-slide.slide-2 {
    background-image: url('/images/carousel/2.jpg');

    @media (min-width: $desktop-breakpoint) {
      .slide-content {
        right: 0;
        bottom: 4em;
        left: auto;
      }
    }
  }

  .slick-slide.slide-3 {
    background-image: url('/images/carousel/3.jpg');

    @media (min-width: $desktop-breakpoint) {
      .slide-content {
        background-position: 100% 10%;
        right: 0;
        bottom: 4em;
        left: auto;
        max-width: 15em;
      }
    }
  }


  /** Overrides of Slick Slider Theme **/
  
  &.slick-dotted {
    margin-bottom: 0;
  }

  .slick-dots {
    bottom: 80px;

    li {
      margin: 0 10px;

      button:before {
        font-size: 15pt;
        color: #fff;
        opacity: 0.5;
      }

      &.slick-active button:before {
        opacity: 1;
      }

    }
  }

}