.hero.slick-slider {

  .slick-slide {
    height: 500px;
    background-size: cover;

    > div {
      position: relative; // For the .slide-content
      height: 100%;
    }
  }

  .slide-content {
    position: absolute;
    max-width: 20em;
    font-size: 2em;
    color: #eee;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
  }

  .slick-slide.slide-1 {
    background-image: url('/images/carousel/1.jpg');
    background-position: 100% 10%;

    .slide-content { bottom: 4em; }
  }

  .slick-slide.slide-2 {
    background-image: url('/images/carousel/2.jpg');
  }

  .slick-slide.slide-3 {
    background-image: url('/images/carousel/3.jpg');
    background-position: 100% 10%;
  }


  /** Overrides of Slick Slider Theme **/
  
  &.slick-dotted {
    margin-bottom: 0;
  }

  .slick-dots {
    bottom: 80px;

    li {
      margin: 0 10px;

      button:before {
        font-size: 15pt;
        color: #fff;
        opacity: 0.5;
      }

      &.slick-active button:before {
        opacity: 1;
      }

    }
  }

}