main {
  display: flex;
  margin: $gutter 0;
}

.primary-aside {
  display: none;
  width: 300px;
  border-right: 1px solid #aaa;
  margin-right: $gutter;
  padding-right: 1em;

  @media (min-width: $desktop-breakpoint) {
    display: block;
  }
}

.primary-content {
  flex: 1;
  min-height: 300px;
}