// Theme
$red: #9a1713;

// Reset Vars
$font-family: 'PT Sans Narrow', Arial;
$title-font-family: 'Sahitya', Arial;
$fancy-font-family: 'Courgette', cursive;
$text-color: #222;
$font-size: 12pt;
$font-weight: 400;
$anchor-color: $red;

// Structure
$gutter: 1rem;
$gutter-small: 0.5rem;