<div class="panel footer">
  <div>

    <div class="footer-container">
      <div class="footer-contact">
        Redstone Capital Management, LLC.<br>
        7231 E. Princess Blvd.<br>
        Suite 201<br>
        Scottsdale, AZ 85255<br>
        <a href="https://goo.gl/maps/yYwDpVxuSH72" target="_blank">Google Map</a>
      </div>
      <div class="footer-content">
        <p>
          Advisory services offered through CS Planning Corp., an SEC registered investment advisor
        </p>

        <div>
          <a target="_blank" href="https://adviserinfo.sec.gov">https://adviserinfo.sec.gov</a> |
          <a target="_blank" href="http://www.sipc.org">http://www.sipc.org</a> |
          <a target="_blank" href="/legal/client-relationship-summary.pdf">Client Relationship Summary</a> |
          <a target="_blank" href="/legal/terms-of-use.pdf">Terms of Use</a> |
          <a target="_blank" href="/legal/privacy.pdf">Privacy Notice</a> |
          <a target="_blank" href="/legal/Form ADV Part 2A.pdf">Form ADV Part 2A</a> |
          <a target="_blank" href="/legal/Form ADV Part 2B Canterbury.pdf">Form ADV Part 2B Canterbury</a> |
          <a target="_blank" href="/legal/Form ADV Part 2B LeMarr.pdf">Form ADV Part 2B LeMarr</a> |
          <a target="_blank" href="/legal/Form ADV Part 3.pdf">Form ADV Part 3</a>
        </div>
      </div>
    </div>

  </div>
</div>