<div class="panel footer">
  <div>
    
    <div class="footer-container">
      <div class="footer-contact">
        Redstone Capital Management, LLC.<br>
        123 Main Street.<br>
        Phoenix AZ 85000
      </div>
      <div class="footer-content">
        &copy; Redstone Capital Management, LLC.
        
      </div>
    </div>

  </div>
</div>