<div class="panel footer">
  <div>
    
    <div class="footer-container">
      <div class="footer-contact">
        Redstone Capital Management, LLC.<br>
        7231 E. Princess Blvd.<br>
        Suite 201<br>
        Scottsdale, AZ 85255<br>
        <a href="https://goo.gl/maps/yYwDpVxuSH72" target="_blank">Google Map</a>
      </div>
      <div class="footer-content">
        &copy; Redstone Capital Management, LLC.

        <p>
          Kevin Canterbury is a Registered Representative of Coastal Equities, Inc., and Investment Advisory Representative with Coastal Investment Advisors, Inc.
          Securities are offered through Coastal Equities, Inc. Member FINRA/SPIC; Investment Advisory Services are offered through Coastal Investment Advisors, Inc., a U.S. SEC Registered Investment Advisor, co-located at 1201 N. Orange St., Suite 729, Wilmington, DE 19801.
          Redstone Capital Management, LLC. is not affiliated with Coastal Equities, Inc. or Coastal Investment Advisors, Inc.
        </p>

        <div>
          <a target="_blank" href="http://www.finra.org">http://www.finra.org</a> |
          <a target="_blank" href="http://www.sipc.org">http://www.sipc.org</a> |
          <a target="_blank" href="http://brokercheck.finra.org">http://brokercheck.finra.org</a>
        </div>
      </div>
    </div>

  </div>
</div>