<header class="panel primary-header">
  <div>

    <div class="primary-header-container">
      <div class="logo">
        <a href="/"><img src="/images/logo.svg" alt="RedStone Logo"></a>
      </div>
      <div class="primary-nav">
        <div class="phone">480-685-2931</div>
        <button class="toggle-primary-nav">Menu</button>
        <nav>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/services">Services</a>
          <a href="http://www.kevincanterbury.com/blog/">Blog</a>
          <a href="/contact">Contact</a>
        </nav>
      </div>
    </div>

  </div>
</header>