<header class="panel primary-header">
  <div>

    <div class="primary-header-container">
      <div class="logo">
        <img src="/images/logo.svg" alt="RedStone Logo">
      </div>
      <div class="primary-nav">
        <div class="phone">1-800-555-5555</div>
        <button class="toggle-primary-nav">Menu</button>
        <nav>
          <a href="/">Home</a>
          <a href="/services">Services</a>
          <a href="/philosophy">Philosophy</a>
          <a href="/contact">Contact</a>
        </nav>
      </div>
    </div>

  </div>
</header>