<div class="quotes">
  <div>
    <div class="quote">
      <q>Quality means doing it right when no one is looking.</q>
      <div class="by">Henry Ford</div>
    </div>
  </div>
  <div>
    <div class="quote">
      <q>The four most dangerous words in investing are: 'this time it's different.</q>
      <div class="by">Sir John Templeton</div>
    </div>
  </div>
  <div>
    <div class="quote">
      <q>Investing should be like watching paint dry or watching grass grow. If you want excitement ... go to Las Vegas.</q>
      <div class="by">Paul Samuelson</div>
    </div>
  </div>
  <div>
    <div class="quote">
      <q>You make most of your money in a bear market; you just don’t realize it at the time.</q>
      <div class="by">Shelby Cullom Davis</div>
    </div>
  </div>
</div>